<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>

<div class="form-container">

<h2>Login</h2>

<form method="post" action="/log-in">

<div class="form-group">
<label>Email:</label>
<input type="text" name="email" required>
</div>

<div class="form-group">
<label>Password:</label>
<input type="password" name="password" required>
</div>

<button type="submit">Login</button>

</form>

<div class="form-footer">
<p>No Account? Sign Up</p>
<a href="/sign-up">
<button>Sign Up</button>
</a>
</div>

</div>

</body>
</html>
