<style>

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 40px;
background:#1e293b;
color:white;
box-shadow:0 3px 10px rgba(0,0,0,0.15);
}

nav a{
color:white;
text-decoration:none;
font-size:20px;
font-weight:600;
}

.nav-right button{
background:#6366f1;
border:none;
padding:8px 16px;
border-radius:6px;
color:white;
cursor:pointer;
transition:all .2s;
}

.nav-right button:hover{
background:#4f46e5;
}

</style>

<nav>

<div>
<a href="/">
Anonymous Messages
</a>
</div>

<div class="nav-right">

<% if (user) { %>

<form action="/logout" method="GET">
<button type="submit">Logout</button>
</form>

<% } else { %>

<a href="/log-in">
<button>Login</button>
</a>

<% } %>

</div>

</nav>
